body {
	font-size: 16px;
	width: 100%;
	height: 100%;
}

form {
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#tasks {
	position: relative;
	z-index: 0;
	padding-top: 41px;
}

#tasks li {
	border-bottom: solid 1px #DEDEDE;
	padding: 5px 0px 5px 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#F0F0F0)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  white,  #F0F0F0); /* for firefox 3.6+ */ 
	height: 30px;
	margin: 0;
	line-height: 30px;
	z-index: 0;
}

#tasks li:first-child {
	border-top: solid 1px #DEDEDE;
}

input[type=checkbox] {
	margin-right: 10px;
}

.completed {
	text-decoration: line-through;
}

#new-task {
	-webkit-appearance: none;
	border: 0;
	font-size: 16px;
	margin: 0;
	padding: 5px;
	z-index: 1000;
	width: 90%;
	position: absolute;
	height: 31px;
	background: white;
}

#new-task::-webkit-input-placeholder {
	font-style: italic;
}

.info {
	font-size: 12px;
	margin: 5px;
	text-align: right;
	color: gray;
}